<html>
  <body>
    <table class="table table-hover">
      <thead>
        <tr class="d-flex table-warning">
          <th class="col-2">Year</th>
          <th class="col-3">Title</th>
          <th class="col-2">Role</th>
          <th class="col-3">Director</th>
          <th class="col-2">Language</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of movies" class="d-flex table-primary">
          <td class="col-2">{{ data.Year }}</td>
          <td class="col-3">{{ data.Title }}</td>
          <td class="col-2">{{ data.Role }}</td>
          <td class="col-3">{{ data.Director }}</td>
          <td class="col-2">{{ data.Language }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
